<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>D&DD</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/Logo.jpg"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/Logo.jpg" alt="logo"/></a>
    <div class="navlink"><a href="/list">List</a></div>
    <div class="navlink"><a href="/add">Add</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/credits">credits</a></div>
  </nav>
  <section id="makeMonster">
  <form id="monsterForm" name="monsterForm" action="/maker" method="POST" class="monsterForm">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" value="Name">
    
    <label for="envorment">Envorments: </label>
    <input  id="envorment" type="text" name="envorment" value="Exsample1,Exsample2">
      
    <label for="cr">Cr: </label>
    <input id="cr" type="number" name="cr" value="0">
      
    <div class ="health">
      <label for="numDie">Roll: </label>
    <input id="numDie" type="number" name="numDie" value="1">
    
      <label for="die">d: </label>
    <input id="die" type="number" name="die" value="1">
    
      <label for="plus">+: </label>
    <input id="plus" type="number" name="plus" value="0">
    
    </div>
    
    <div class ="atr">
      <label for="str">str: </label>
    <input id="str" type="number" name="str" value="1">
    
      <label for="int">int: </label>
    <input id="int" type="number" name="int" value="1">
    
      <label for="wis">wis: </label>
    <input id="wis" type="number" name="wis" value="1">
    
      <label for="dex">dex: </label>
    <input id="dex" type="number" name="dex" value="1">
    
      <label for="con">con: </label>
    <input id="con" type="number" name="con" value="1">
    
      <label for="cha">cha: </label>
    <input id="cha" type="number" name="cha" value="1">
      
    </div>
    <div class ="skillnotes">
      <label for="skills">Skills:</label>
      <textarea  name="skills" value=""></textarea>
    </div> 
    <div>
      <label for="notes">Notes: </label>
      <textarea type="text" name="notes" value=""></textarea>
    </div>  
    <input type = "hidden" name = "_csrf" value = {{csrfToken}} />
    
    <a id="makeMonsterSubmit" href="#" class="makeMonsterSubmit">Make Monster</a>
    </form>
      
      
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/maker.js" type="text/babel"></script>
</body>
</html>