<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>D&DD</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/Logo.jpg"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/Logo.jpg" alt="logo"/></a>
    <div class="navlink"><a href="/plist">Public List</a></div>
    <div class="navlink"><a href="/list">List</a></div>
    <div class="navlink"><a href="/add">Add</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/credits">credits</a></div>
  </nav>
  
  <section id="credits">
  <p>Site made by Daniel law</p>
    <div class=""><a href="/credits">credits</a></div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/maker.js" type="text/babel"></script>
</body>
</html>